:root{
 
    --backContainer: rgba(38, 37, 37, 0.5);
    /* --backContainer: #26252580; */
    --backContainerSecond: rgba(217, 217, 217, 0.2);
    --backContainerSecond2: rgba(211, 211, 211, 0.30);
    --backHoverBtn: #9A82DB ;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}


body{

    width: 100vw;
    height: 100vh;
    color: #fff;
}

.containerMain{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;

    background: url(./img/rain.jpg);
    
    background-size: cover;
    /* background-image: url(https://ooncesud.sirv.com/weather%20Images/clear.jpg); */

}

/* --------------------------------------------------------- */

.containerLeft{

    /* flex-grow: 2; */
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;


}

.containerDateAndTitleWeather{

    flex-grow: 2;

    display: flex;
    flex-direction: column;
    align-items: end;

    justify-content: space-between;
}

.containerDateAndTime{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 10px;

    border-radius: 10px;

    /* background-color: rgba(0, 0, 0, 0.507); */
    background-color: var(--backContainer)
}

.titleWeather{

    font-size: 5em;

}

.outerCardsWeather,.outerCardsWeatherMobile{

    width: 100%;
    margin: auto;
    overflow: hidden;
}

.containerCardsWeather,.containerCardsWeatherMobile{

    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* width: 1000px; */
    /* margin: auto; */
    /* overflow: auto; */
}

.containerCard{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.cardStyle{

    padding: 10px;
    border-radius: 10px;
    background-color: var(--backContainer);
    opacity: 0;
    user-select: none;

}

.svgWeather{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--backContainerSecond2);

}

/* --------------------------------------------------------- */

.containerRight{

    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* background-color: var(--backContainerSecond); */
    background-color: rgba(0, 0, 0, 0.50);
    /* backdrop-filter:blur(10px); */
    gap: 20px;
    padding: 10px;
}

.weatherWidget{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    /* padding: 10px; */

}

.svgUbication{

    display: flex;
    align-items: center;
    user-select: none;
    padding: 5px;
    background-color: var(--backContainer);
    border-radius: 10px;

    cursor: pointer;
}

.svgUbication > svg{

    pointer-events: none;
}

.svgUbication > svg > path{
    
    stroke: var(--backContainerSecond2);

    transition: all 0.15s ease-in-out;

}

.svgUbication:hover > svg > path{

    stroke: #fff;

}

.svgUbication:hover{

    outline: solid 2px var(--backContainerSecond2);
}



.containerCOrF{

    display: flex;
    gap: 5px;
    background-color: var(--backContainerSecond2);
    border-radius: 10px;
    padding: 5px;
}


.selected{

    background-color: var(--backContainer);
}
.styleOp{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--backContainerSecond2); */
    /* width: 30px; */
    /* height: 30px; */
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    transition: all 0.15s ease-in-out;

    /* color: black; */
}

.celcius,.fahrenheit{

    height: 16px;
    width: 18px;
}

.styleOp:hover{

    background-color: var(--backContainer);
    color: #fff;
}

.containerNameAndFlag{

    display: flex;
    gap: 5px;

}

.titleCity{

    font-size: 2em;
}

.titleGrades{

    font-size: 4.5em;
    color: #fff;
}

.weatherNextDays{

    flex-grow: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 10px 10px 10px; */
    gap: 10px;
}

.titleNextDays{

    font-size: 1.3em;
}

.containerOpDays{

    display: flex;
    gap: 5px;

    background-color: var(--backContainerSecond2);
    border-radius: 10px;
    padding: 5px;
}

.opDaysStyle{

   user-select: none;

   cursor: pointer;

   /* background-color: var(--backContainer); */

   border-radius: 5px;
   padding: 5px;

   transition: all 0.15s ease-in-out;
}

.opDaysStyle:hover{

    background-color: var(--backContainer);
}

.containerCardsNextDays{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}


.cardNextDays{

    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
}

.svgWeatherNextDays{
    display: flex;
    background-color: var(--backContainerSecond2);
    border-radius: 10px;
    padding: 10px;

}

.titleWeatherNextDays{

    color: rgba(255, 255, 255, 0.6);
}

.containerDegressNextDays{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-self: end; */
    margin-left: auto;

}
/* --------------------------------------------------------- */

.containerCountryFinder{

    position: absolute;
    /* top: 50%; */
    /* right: 50%; */
    /* transform: translate(50%, -50%); */
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backContainer);
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
    max-width: 500px;
    opacity: 0;
    /* scale: 0; */

}

.outerSearchCountryCards{
    height: 100%;
    overflow: hidden;
    padding: 2px;
}

.searchCountryCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleAndSearchBar{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchBarAndGps{

    display: flex;
    gap: 10px;
}

.searchBar{

    background-color: var(--backContainerSecond2);
    border: none;
    outline: none;

    border-radius: 5px;
    padding: 5px;
    flex-grow: 2;
}

.containerGps{

    display: flex;
    padding: 5px;
    background-color: var(--backContainerSecond2);
    border-radius: 5px;

    cursor: pointer;

}

.containerGps > svg > path {

    stroke: var(--backContainer);
}

.containerSearchCard{

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    outline: solid 2px var(--backContainerSecond2);

    cursor: pointer;
    user-select: none;

    
    /* width: 300px; */
    min-width: 400px;
    max-width: 500px;
    opacity: 0;

}

.flagAndName{

    display: flex;
    align-items: center;
    gap: 10px;
}

.locationData{

    color: rgba(255, 255, 255, 0.6);
}

/* --------------------------------------------------------- */

.loader {
    position: relative;
    margin: 0 auto;
    width: 50px;
  }

  .loader::before{
    content: '';
      display: block;
      padding-top: 100%;
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: rgba(211, 211, 211, 0.50);
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  


  /* --------------------------------------------------------- */
  /* 1355 */


  @media screen and (max-width: 1355px){

    .containerMain{

        grid-template-columns: 80% 20%;
    }

  }
  @media screen and (max-width: 1010px){

    .containerMain{

        grid-template-columns: 75% 25%;
    }

  }
  @media screen and (max-width: 806px){

    .containerMain{

        /* grid-template-columns: 65% 35%; */
        grid-template-columns: 100%;
    }

    .containerLeft{

        display: none;
    }

    .containerRight{

        padding: 20px;

    }

    .containerCountryFinder{

        min-width: 95%;
        /* backdrop-filter: blur(10px); */
        /* height: 95%; */
        max-height: 95%;
    }

    .containerSearchCard {

        min-width: 95%;
    }

  }